%section
  %h1= @user.name + ' ' + @user.surname
  %h2 Edit Profile

  - form_for @user, :html => { :multipart => true } do |form|
    .clearfix
      = form.label :name
      .input
        = form.text_field :name
    .clearfix
      = form.label :surname
      .input
        = form.text_field :surname
    .clearfix
      = form.label :date_of_birth
      .input
        = form.date_select :date_of_birth, { :start_year => Time.now.year - 70, :end_year => Time.now.year - 5, :include_blank => true },
                            { :id => "mediumSelect", :class => "medium"}
    .clearfix
      = form.label :school
      .input
        = form.text_field :school
    .clearfix
      = form.label :university
      .input
        = form.text_field :university
    .clearfix
      = form.label :avatar
      .input
        = form.file_field :avatar
        %span.help-block please use files less than 2MB and in JPEG or PNG formats only
    .actions
      = form.submit :class => "btn primary"

