%section
  %table.zebra-striped
    %tr
      %th Id
      %th Name
      %th Surname
      %th Email
      %th Actions
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.name
        %td= user.surname
        %td= user.email
        %td
          - if can? :manage, user
            = link_to 'destroy', user_path(user), :method => :delete, :confirm => "Sure?"

