- title @user.name + " " + @user.surname
- if (current_user == @user)
  - subtitle "(It's you)"
- else
  - if (@user.online?)
    - subtitle "Online"

- sidebar render('sidebar')


%section#profile

  = render :partial => "/posts/status"

  %dl
    - if @user.date_of_birth
      %dt Date of birth:
      %dd= @user.date_of_birth

    - if @user.school && !@user.school.empty?
      %dt School:
      %dd= @user.school

    - if @user.university && !@user.university.empty?
      %dt University:
      %dd= @user.university

%hr/

= render :partial => "/posts/remote_form"

%div#posts
  = render :partial => "/posts/post", :collection => @posts

- if @posts.size >= 10
  %div{ :align => "center" }
    = link_to "...More...", user_posts_path(@user, :created_at => @posts.last.created_at, :status => "older"), :remote => true, :id => "more_posts_link"

