- title "Friends"
- sidebar render('users/sidebar')

%ul.tabs
  %li
    %a{ :href => '#all-friends' } All friends
  %li
    %a{ :href => '#online-friends' } Online friends
  %li
    %a{ :href => '#requests'} Requests
  

#all-friends.tab-content
  - if @established.length != 0
    - @established.each do |fr|
      = link_to fr.friend.full_name, user_path(fr.friend), :class => 'user'
  - else
    %p You have no friends

#online-friends.tab-content
  - if @online.length != 0
    - @established.each do |fr|
      = link_to fr.friend.full_name, user_path(fr.friend), :class => 'user'
  - else
    %p You have no friends online

#requests.tab-content
  - if @requests.length != 0
    - @requests.each do |req|
      .actions
        = link_to req.user.full_name, user_path(req.user)
        = link_to "Confirm", confirm_friendship_path(req), :class => 'btn success'
        = link_to "Deny", cancel_friendship_path(req), :class => 'btn danger'
        
  - else
    %p You have no friendship requests

  