- title "Friends"
- sidebar render('users/sidebar')

%ul.tabs
  %li
    %a{ :href => '#all-friends' } All friends
  %li
    %a{ :href => '#online-friends' } Online friends
  %li
    %a{ :href => '#requests'} Requests
  %li
    %a{ :href => '#dashboard'} Dashboard


#all-friends.tab-content
  - if @established.length != 0
    - @established.each do |fr|
      .friend
        .ava
          %img{:src => '/images/kitty-small.png'}
      = link_to fr.friend.full_name, user_path(fr.friend), :class => 'user'
  - else
    %p You have no friends

#online-friends.tab-content
  - if @online.length != 0
    - @established.each do |fr|
      = link_to fr.friend.full_name, user_path(fr.friend), :class => 'user'
  - else
    %p You have no friends online

#requests.tab-content
  - if @requests.length != 0
    - @requests.each do |req|
      .actions
        = link_to req.user.full_name, user_path(req.user)
        = link_to "Confirm", confirm_friendship_path(req), :class => 'btn success'
        = link_to "Deny", cancel_friendship_path(req), :class => 'btn danger'

  - else
    %p You have no friendship requests

#dashboard.tab-content
:javascript
  var dashboard = new FusionCharts("/javascripts/dashboard/Charts/FCF_MSLine.swf", "Statistics", "600", "300");
  dashboard.setDataURL("#{user_friends_path(@user)}.xml");
  dashboard.render("dashboard");

