- title "John's albums"
-#- @albums.each do |a|
-#  = link_to a.name, user_album_path( @user, a )

-#.actions= link_to 'Add album', new_user_album_path( @user ), :class => 'btn primary'

%section.albums
  - @albums.each do |a|
    .album
      %h4
        = link_to a.name, user_album_path( @user, a )
      .placeholder
      %ul.actions
        %li
          = link_to "Rename", edit_user_album_path( @user, a )
        %li  
          = link_to "Destroy", user_album_path( @user, a ), :method => :delete, :confirm => "Sure"
  - if current_user == @user
    .album
      %h4
        = link_to "Add new album", new_user_album_path( @user )
      .big-plus= link_to '+', new_user_album_path( @user ) 