- title "#{@user == current_user ? 'My' : @user.name + '\'s' } albums"

%section.albums
  - @albums.each do |a|
    .album
      %h4
        = link_to a.name, user_album_path(@user, a )
        .placeholder
          - if a.photos.empty?
            .big-text ?
          -else  
            = image_tag a.photos.first.url(:album_pic)
      %ul.actions
        %li
          = link_to "Rename", edit_user_album_path( @user, a )
        %li  
          = link_to "Destroy", user_album_path( @user, a ), :method => :delete, :confirm => "Sure"
  - if current_user == @user
    .album
      %h4
        = link_to "Add new album", new_user_album_path( @user )
      .big-text= link_to '+', new_user_album_path( @user ) 