%div.twipsies.well
  %h2= link_to post.user_from.name + " " + post.user_from.surname, user_path( post.user_from )
  %p= post.content
  %div
    = link_to "Show", user_post_path( post.user_to, post)
    = link_to "Edit", edit_user_post_path( post.user_to, post )
    = link_to "Destroy", user_post_path( post.user_to, post ), :method => :delete, :confirm => "Sure?"

